/* Reset some default styles for better consistency across browsers */
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    max-width: 100%;
    height: auto;
}

header h1 {
    font-size: 1.8em;
}

/* Main Content Section Styles */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Section Styles */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

/* Table Styles */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* YouTube Video Styles */
iframe {
    max-width: 100%;
}

/* Anchor Styles */
a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the links */
.footer-center a, .footer-right a {
    color: inherit; /* Inherit the color from the parent (white in this case) */
    text-decoration: none; /* Remove underlines from links */
}

/* Hover effect */
.footer-center a:hover, .footer-right a:hover {
    text-decoration: underline;
}
