.vscode/
note.css
note.html
FontAwesome/
Week01a/
Week01b/
Week02a/
GEOPHYSICO/
JS/Week03a/exercise.js
JS/Week03b/
JS/Week03a/
JS/Week03c/
JS/Week04a/
JS/Week04b/
JS/Week04HW/
JS/Week05RCb/
JS/Week05RCc/
LUNIX/
TS/
JS/Udacity/
contactz.html
gs-seismicRefl.html
table.html
problems_old.html
services_old.html
React/
ExpressJs/Week12a
ExpressJs/Week12b
ExpressJs/Week12c
ExpressJs/Week12d
ExpressJs/node_modules
ExpressJs/app.js
ExpressJs/package-lock.json
ExpressJs/package.json
NodeJs/Week11/
NodeJs/package.json
NodeJs/server.js
